.box {
    padding: 20px;

    width: 300px;
    height: 600px;

    border: 20px solid black;

    margin: 0 auto;
}

h1 {
    color: rgb(201, 56, 56); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px;
}

body {